<div class="grid">
    {{#each this.model as |element|}}
    <div class="element-container" style={{element.gridPosition}} data-test-element>
        <div class="element" style={{html-safe (concat 'background-color:' element.color ';')}}>
            <div class="small" data-test-element-number>
                {{element.number}}
            </div>
            <b data-test-element-symbol>{{element.symbol}}</b>
            <div class="small" data-test-element-name>
                {{element.name}}
            </div>
        </div>
    </div>
    {{/each}}
</div>

